.App {

  text-align: center;

}

.App-link {

  color: #61dafb;

}

html {

  color:white;
  text-align: center;
  background: url(./components/BG.jpg);
  background-size: fill;

}

header{

  color: white;
  text-shadow: 0 0 6px rgb(9, 218, 255);
  padding: 2rem;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 800;
  
}

header:hover{

  color: cyan;
  text-shadow: 0 0 8px rgb(9, 218, 255);

}



form{

  padding: 1rem;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  position: relative;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  label {

    color: white;

  }

}

.userCard {

  margin: 50px;
  background: rgba(120, 120, 120, .2);
  border-radius: 5px;
  border: 1px outset black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
  overflow-y: none;

}

.userCard:hover{

  border: 1px inset cyan;
  background: rgba(25, 25, 25, .5);
  color: white;
  text-shadow: 0 0 4px rgb(9, 218, 255);

}

form {

  display: inline-flex;
  flex-direction: column;
  max-width: 200px;

}

input:hover {

  border: 1px outset red;
  color: red;
  text-shadow: 0 0 4px rgb(9, 218, 255);

}

button {

  background: white;
  border: 1px solid black;
  padding: 2px;
  width: 100%;

}

&[type='submit'] {

  margin-top: 5px;

}

&:first-of-type {

  margin-right: 5px;

}



button:hover {

  cursor: pointer;
  background: black;
  color: cyan;
  font-weight: bold;
  border: 1px solid cyan;

}

-webkit-text-security: disc;
text-security: disc;